.Rproj.user
.Rhistory
.RData
.Ruserdata
World_Cities.cpg
World_Cities.dbf
World_Cities.prj
World_Cities.shp
World_Cities.shx
World_Cities.xml
gadm41_GBR.gpkg
gis_osm_buildings_a_free_1.cpg
gis_osm_buildings_a_free_1.dbf
gis_osm_buildings_a_free_1.prj
gis_osm_buildings_a_free_1.shp
gis_osm_buildings_a_free_1.shx
gis_osm_landuse_a_free_1.cpg
gis_osm_landuse_a_free_1.dbf
gis_osm_landuse_a_free_1.prj
gis_osm_landuse_a_free_1.shp
gis_osm_landuse_a_free_1.shx
gis_osm_natural_a_free_1.cpg
gis_osm_natural_a_free_1.dbf
gis_osm_natural_a_free_1.prj
gis_osm_natural_a_free_1.shp
gis_osm_natural_a_free_1.shx
gis_osm_natural_free_1.cpg
gis_osm_natural_free_1.dbf
gis_osm_natural_free_1.prj
gis_osm_natural_free_1.shp
gis_osm_natural_free_1.shx
gis_osm_places_a_free_1.cpg
gis_osm_places_a_free_1.dbf
gis_osm_places_a_free_1.prj
gis_osm_places_a_free_1.shp
gis_osm_places_a_free_1.shx
gis_osm_places_free_1.cpg
gis_osm_places_free_1.dbf
gis_osm_places_free_1.prj
gis_osm_places_free_1.shp
gis_osm_places_free_1.shx
gis_osm_pofw_a_free_1.cpg
gis_osm_pofw_a_free_1.dbf
gis_osm_pofw_a_free_1.prj
gis_osm_pofw_a_free_1.shp
gis_osm_pofw_a_free_1.shx
gis_osm_pofw_free_1.cpg
gis_osm_pofw_free_1.dbf
gis_osm_pofw_free_1.prj
gis_osm_pofw_free_1.shp
gis_osm_pofw_free_1.shx
gis_osm_pois_a_free_1.cpg
gis_osm_pois_a_free_1.dbf
gis_osm_pois_a_free_1.prj
gis_osm_pois_a_free_1.shp
gis_osm_pois_a_free_1.shx
gis_osm_pois_free_1.cpg
gis_osm_pois_free_1.dbf
gis_osm_pois_free_1.prj
gis_osm_pois_free_1.shp
gis_osm_pois_free_1.shx
gis_osm_railways_free_1.cpg
gis_osm_railways_free_1.dbf
gis_osm_railways_free_1.prj
gis_osm_railways_free_1.shp
gis_osm_railways_free_1.shx
gis_osm_roads_free_1.cpg
gis_osm_roads_free_1.dbf
gis_osm_roads_free_1.prj
gis_osm_roads_free_1.shp
gis_osm_roads_free_1.shx
gis_osm_traffic_a_free_1.cpg
gis_osm_traffic_a_free_1.dbf
gis_osm_traffic_a_free_1.prj
gis_osm_traffic_a_free_1.shp
gis_osm_traffic_a_free_1.shx
gis_osm_traffic_free_1.cpg
gis_osm_traffic_free_1.dbf
gis_osm_traffic_free_1.prj
gis_osm_traffic_free_1.shp
gis_osm_traffic_free_1.shx
gis_osm_transport_a_free_1.cpg
gis_osm_transport_a_free_1.dbf
gis_osm_transport_a_free_1.prj
gis_osm_transport_a_free_1.shp
gis_osm_transport_a_free_1.shx
gis_osm_transport_free_1.cpg
gis_osm_transport_free_1.dbf
gis_osm_transport_free_1.prj
gis_osm_transport_free_1.shp
gis_osm_transport_free_1.shx
gis_osm_water_a_free_1.cpg
gis_osm_water_a_free_1.dbf
gis_osm_water_a_free_1.prj
gis_osm_water_a_free_1.shp
gis_osm_water_a_free_1.shx
gis_osm_waterways_free_1.cpg
gis_osm_waterways_free_1.dbf
gis_osm_waterways_free_1.prj
gis_osm_waterways_free_1.shp
gis_osm_waterways_free_1.shx
listings.csv
statistical-gis-boundaries-london
README
Week5Prac
README.md
World_Countries_(Generalized)_9029012925078512962.geojson
